.w-sidebar h4.expanded {
  color: #ffffff;
}

.w-sidebar h4:not(.expanded)+ul {
  display: none;
}

.w-sidebar h4:not(.expanded) {
  margin-bottom: 9px;
  margin-top: 5px;
}

.w-sidebar h4.expanded+ul {
  margin-top: 8px;
  margin-bottom: 8px;
}

.w-sidebar h4.expanded::before {
  content: '-';
  padding-right: 4px;
}

.w-sidebar h4.expanded+ul a {
  padding-left: 44px;
}

.w-sidebar h4:hover {
  color: #ffffff;
  cursor: pointer;
  display: block;
}

.w-sidebar h4::before {
  content: '+';
  padding-right: 4px;
}

.w-sidebar h4, .w-sidebar ul {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.w-sidebar ul li {
  display: block;
}

.w-sidebar ul li a {
  padding-top: 6px;
  padding-bottom: 6px;
}
