.w-sidebar h4 {
  padding: 0 0 0 0;
}

.w-sidebar ul li a {
  padding-left: 30px;
}

.w-sidebar h3 svg {
  display: none;
}

.w-sidebar .sidebar-label {
  font-size: 0.9rem;
  width: 100%;
  color: var(--primary-lightest);
  font-weight: 700;
}
