:root {
  --primary: rgba(1, 8, 39, 0.8);
  --primary-dark: #06122f;
  --primary-darkest: rgb(1, 8, 29);
  --primary-light: rgb(0, 157, 255);
  --primary-lightest: #c1c1c1;
  --primary-70: rgba(0, 157, 255, 0.4);
  --primary-60: rgba(0, 157, 255, 0.6);
  --primary-50: rgba(0, 157, 255, 0.5);
  --primary-40: rgba(0, 157, 255, 0.4);
  --primary-30: rgba(0, 157, 255, 0.3);
  --primary-20: rgba(0, 157, 255, 0.2);
  --primary-10: rgba(0, 157, 255, 0.1);
  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.4);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --logo: #430051;
  --sidebar-icon: #ecdbec;
  --radius-normal: .1850rem;
  --table-row-padding: .65rem;
  --perfect-scroll-pad-bottom: 30px;
  --perfect-scroll-thumb-colour: rgb(0, 177, 255);
  --perfect-scroll-bar-width: 2px;
}

.card {
  border: 1px solid #dfdfdf;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .03);
  border-radius: 3px;
}

.w-sidebar:first-of-type {
  padding-left: 0;
  padding-right: 0;
  width: 188px;
}

.content .px-view {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.bg-grad-sidebar, .bg-logo {
  background-image: none;
  background-color: var(--primary-darkest);
}

.bg-logo {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.05);
}

.bg-logo svg {
  margin: 0 auto;
}

.pt-header {
  padding-top: 65px;
}

.h-header {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .08);
}

.w-sidebar ul {
  padding: 0;
  margin: 10px 0 10px 0;
}

.w-sidebar ul li {
  padding: 0;
  margin: 0;
}

.w-sidebar ul li:hover {
  background-color: rgba(0, 0, 0, .2);
}

.w-sidebar ul li a {
  padding-right: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 17px;
  font-weight: 500;
  display: block;
  width: 100%;
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
}

.w-sidebar ul li a:hover {
  color: var(--white-90);
  transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
}

.w-sidebar h3 {
  padding: 12px 0 12px 10px;
  margin: 7px 0 0 0;
  font-weight: 600;
  width: 100%;
}

.w-sidebar h3 a {
  background: rgba(255, 255, 255, 0.05);
}

.w-sidebar h3 svg {
  margin-right: 0;
  margin-left: 4px;
  padding-left: 1px;
}

.w-sidebar .sidebar-label {
  padding: 0 0 0 10px;
  margin: 0;
  font-size: 0.9rem;
  width: 100%;
  color: var(--primary-lightest);
  font-weight: 700;
}

.w-sidebar h4 {
  font-size: .8rem;
  color: #677694;
}

.w-sidebar ul li a {
  padding-left: 35px;
  width: 100%;
  letter-spacing: -0.016rem;
  font-weight: 600;
  margin-left: 0 !important;
}

.w-sidebar .router-link-exact-active,
.w-sidebar .router-link-active {
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-left: 2px solid #7f7fdc;
}

.w-sidebar .router-link-active .sidebar-label {
  color: #ffffff;
}

.w-sidebar .dim:hover,
.w-sidebar .dim:active,
.w-sidebar .dim:active {
  opacity: 1;
}

.w-sidebar .dim:hover {
  background: rgba(255, 255, 255, 0.085);
}

.form-input:active,
.form-input:focus,
.form-select:active,
.form-select:focus,
input:active,
input:focus,
.btn-outline:hover {
  -webkit-box-shadow: 0px 0px 5px 0px var(--primary-30);
  box-shadow: 0px 0px 5px 0px var(--primary-30);
  border-color: var(--primary-30);
}

.btn-outline {
  color: var(--primary-70);
}

.form-control,
.form-select,
.btn,
.rounded-lg {
  border-radius: var(--radius-normal) !important;
}

.table td {
  height: auto;
  padding: var(--table-row-padding);
}

.ps {
  padding-bottom: var(--perfect-scroll-pad-bottom);
}

.ps__rail-y:hover>.ps__thumb-y,
.ps__rail-y:focus>.ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__thumb-y {
  background-color: var(--perfect-scroll-thumb-colour);
  width: var(--perfect-scroll-bar-width);
}

.w-sidebar h4 {
  margin-top: 11px;
}

@media (max-width: 992px) {
  .pt-header {
    padding-top: 60px !important;
  }
}

.dropdown-right { position: fixed; right: 0; padding-right: 30px; }
